{% extends '_layouts/base.html' %}

{% block title %} Builds for {{ project.name }} {% endblock %}

{% block headline %}<h1>Builds for <a href="https://qa-reports.linaro.org/{{project.full_name}}">{{ project.name }}</a></h1>{% endblock %}

{% block content %}
<div>
<ul class="nav nav-tabs">
    {% if benchmark_jobs_data %}
        <li class="active"><a data-toggle="tab" href="#benchmarks">Benchmark Results</a></li>
        <li><a data-toggle="tab" href="#builds">Build List</a></li>
    {% else %}
        <li class="active"><a data-toggle="tab" href="#builds">Build List</a></li>
    {% endif %}
</ul>

<div class="tab-content">
{% if benchmark_jobs_data %}
<div id="builds" class="tab-pane fade">
{% else %}
<div id="builds" class="tab-pane fade in active">
{% endif %}
<table border="1">
    <tr>
        <th>Index</th>
        <th>Build No.</th>
        <th>Status</th>
        <th>Duration</th>
        <th>Trigger Build</th>
        <th>Jobs Finished/Total</th>
        <th>Pass</th>
        <th>Fail</th>
        <th>AssumptionF</th>
        <th>Ignored</th>
        <th>Total</th>
        <th>Modules Done/Total</th>
{% for build in builds %}
<tr>
    <td> {{ forloop.counter }}</td>
    <td>
        <a href="/lkft/jobs?build_id={{build.id}}">{{build.version}}</a>
    </td>
    <td>
        {% if build.build_status == "JOBSNOTSUBMITTED" %}
        <p style="background-color: yellow">{{ build.build_status}} <br/>{{ build.created_at|date:'M. d, Y, H:i'}}, &nbsp;{{ build.created_at|timesince}} </p>
        <a target='_blank' href="/lkft/cancel-build/{{build.id}}/">Want to Cancel?</a>
        {% elif build.build_status == "JOBSINPROGRESS" %}
        <p style="background-color: green">{{ build.build_status}} <br/>{{ build.created_at|date:'M. d, Y, H:i'}}, &nbsp;{{ build.created_at|timesince}} </p>
        <a target='_blank' href="/lkft/cancel-build/{{build.id}}/">Want to Cancel?</a>
        {% else %}
        <p>{{ build.build_status}} <br/>{{ build.created_at|date:'M. d, Y, H:i'}}, &nbsp;{{ build.created_at|timesince}} </p>
        {% endif %}
    </td>
    <td>
        {% if build.build_status == "JOBSCOMPLETED" %}
            <p>{{ build.duration}} </p>
        {% else %}
            <p>{{ build.build_status}} </p>
        {% endif %}
    </td>
    <td>
        {% if build.trigger_build %}
        {% with build.trigger_build as trigger_build %}
            <a href="{{trigger_build.url}}">{{ trigger_build.displayName}} (Changes:{{trigger_build.changes_num}})</a><br/>
            Started at {{ trigger_build.start_timestamp|date:'M. d, Y, H:i'}}, &nbsp;{{ trigger_build.start_timestamp|timesince}} ago
        {% endwith %}
        {% else %}
            No Trigger Build Setup Yet
        {% endif %}
    </td>
    {% with build.numbers as numbers %}
    <td align="right">{{numbers.jobs_finished}}/{{numbers.jobs_total}}</td>
    <td align="right">{{numbers.number_passed}}</td>
    <td align="right">{{numbers.number_failed}}</td>
    <td align="right">{{numbers.number_assumption_failure}}</td>
    <td align="right">{{numbers.number_ignored}}</td>
    <td align="right">{{numbers.number_total}}</td>
    <td align="right">
        {% if numbers.modules_total == 0 %}
        <p style="background-color: red">{{numbers.modules_done}}/{{ numbers.modules_total}} </p>
        {% else %}
        <p>{{numbers.modules_done}}/{{ numbers.modules_total}} </p>
        {% endif %}
    </td>
    {% endwith %}
</tr>
{% endfor %}
</table>
</div>

<!-- show benchmark results -->
<hr/>
{% if benchmark_jobs_data %}
<div id="benchmarks" class="tab-pane fade in active">
<ul class="nav nav-tabs">
    {% for one_benchmark_job in benchmark_jobs_data %}
        {% if forloop.first %}
            <li class="active"><a data-toggle="tab" href="#{{one_benchmark_job.benchmark_job_name}}">{{one_benchmark_job.benchmark_job_name}}</a></li>
        {% else %}
            <li><a data-toggle="tab" href="#{{one_benchmark_job.benchmark_job_name}}">{{one_benchmark_job.benchmark_job_name}}</a></li>
        {% endif %}
    {% endfor %}
</ul>

<div class="tab-content">
    {% for one_benchmark_job in benchmark_jobs_data %}
        {% if forloop.first %}
            <div id="{{one_benchmark_job.benchmark_job_name}}" class="tab-pane fade in active">
                {% include "show_trend.html" with one_benchmark_job=one_benchmark_job %}
            </div>
        {% else %}
            <div id="{{one_benchmark_job.benchmark_job_name}}" class="tab-pane fade">
                {% include "show_trend.html" with one_benchmark_job=one_benchmark_job %}
            </div>
        {% endif %}
    {% endfor %}
</div>
</div>
{% endif %}
</div> <!-- end of upper tab-content -->
</div> <!-- end of the content block div -->

{% endblock %}
