{% extends '_layouts/base.html' %}

{% block title %} LKFT Projects {% endblock %}

{% block headline %}<h1>LKFT Projects</h1>{% endblock %}

{% block content %}
<div>
<table border="1">
	<tr>
		<th>Index</th>
		<th>Project</th>
        <th>Last Build Timestamp</th>
        <th>Last Build No.</th>
        <th>Last Trigger Build No.</th>
	</tr>
{% for project in projects %}
<tr>
	<td> {{ forloop.counter }}</td>
    <td>
        <a href="/lkft/builds?project_id={{project.id}}">{{project.name}}</a>
    </td>
    <td>
    {% if project.last_build %}
        {% with project.last_build as last_build %}
        {{ last_build.created_at|date:'M. d, Y, H:i'}}, &nbsp;{{ last_build.created_at|timesince}}
        {% endwith %}
    {% else %}
        No Build Yet
    {% endif %}
    </td>
    <td>
        {% if project.last_ci_build %}
        {% with project.last_ci_build as last_ci_build %}
            {% if last_ci_build.build_status == 'SUCCESS' %}
                <a href="{{last_ci_build.ci_build_project_url}}">{{ last_ci_build.kernel_version}}</a>&nbsp;&nbsp; <p style="background-color: green">{{ last_ci_build.build_status}} </p>
            {% endif %}
            {% if last_ci_build.build_status == 'INQUEUE' %}
                <a href="{{last_ci_build.ci_build_project_url}}">{{ last_ci_build.kernel_version}}</a>&nbsp;&nbsp; <p style="background-color: grey">{{ last_ci_build.build_status}}</p>
            {% endif %}
            {% if last_ci_build.build_status == 'INPROGRESS' %}
               <a href="{{last_ci_build.ci_build_project_url}}">{{ last_ci_build.kernel_version}}</a>&nbsp;&nbsp; <p style="background-color: yellow">{{ last_ci_build.build_status}}</p>
            {% endif %}
            {% if last_ci_build.build_status == 'FAILURE' %}
               <a href="{{last_ci_build.ci_build_project_url}}">{{ last_ci_build.kernel_version}}</a>&nbsp;&nbsp; <p style="background-color: red">{{ last_ci_build.build_status}}</p>
            {% endif %}
        {% endwith %}
        {% else %}
            No Build Yet
        {% endif %}
    </td>
    <td>
        {% if project.last_trigger_build %}
        {% with project.last_trigger_build as last_trigger_build %}
            <a href="{{last_trigger_build.url}}">{{ last_trigger_build.displayName}}</a>
        {% endwith %}
        {% else %}
            No Trigger Build Setup Yet
        {% endif %}
    </td>
    </td>
</tr>
{% endfor %}
</table>
</div>
<div>
{% if open_bugs %}
<h2>Open Bugs</h2>
<table border=2>
<tr>
    <th>Index</th>
    <th>Bug Id</th>
    <th>Summary</th>
    <th>Version</th>
    <th>Status</th>
</tr>
{% for bug in open_bugs %}
    {% ifnotequal bug.status 'RESOLVED' %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td><a href="https://bugs.linaro.org/show_bug.cgi?id={{ bug.id }}">{{ bug.id }}</a></td>
        <td>{{ bug.summary }}</td>
        <td>{{ bug.version }}</td>
        <td>{{ bug.status }}</td>
    </tr>
    {% endifnotequal %}
{% endfor %}
</table>
{% else %}
Excellent build, no open bugs on it at the moment.
{% endif %}
</div>
{% endblock %}
