{% extends '_layouts/base.html' %}

{% block title %} LKFT Projects {% endblock %}

{% block headline %}<h1><a href="https://qa-reports.linaro.org/android-lkft/">LKFT Projects</a></h1>{% endblock %}

{% block content %}
<div>
<table border="1">
	<tr>
		<th>Index</th>
		<th>Project</th>
        <th>Last QA Build</th>
        <th>Last CI Build</th>
        <th>Last CI Trigger Build</th>
        <th>Pass</th>
        <th>Fail</th>
        <th>Total</th>
        <th>Modules Done</th>
        <th>Modules Total</th>
</tr>
{% for project in projects %}
<tr>
    <td> {{ forloop.counter }}</td>
    <td>
        <a href="/lkft/builds?project_id={{project.id}}">{{project.name}}</a>
    </td>
    <td>
    {% if project.last_build %}
        {% with project.last_build as last_build %}
        {% if last_build.build_status == 'JOBSNOTSUBMITTED' %}
            <p style="background-color: grey">{{ last_build.build_status}} </p>
        {% endif %}
        {% if last_build.build_status == 'JOBSINPROGRESS' %}
            <p style="background-color: yellow">{{ last_build.build_status}} </p>
        {% endif %}
        {% if last_build.build_status == 'JOBSCOMPLETED' %}
            Finished at {{ last_build.last_fetched_timestamp|date:'M. d, Y, H:i'}}, &nbsp;{{ last_build.last_fetched_timestamp|timesince}} ago<br/>
            Took {{ project.duration }} to finish.
        {% endif %}
        {% endwith %}
    {% else %}
        No Build Yet
    {% endif %}
    </td>
    <td>
        {% if project.last_ci_build %}
        {% with project.last_ci_build as last_ci_build %}
            {% if last_ci_build.build_status == 'SUCCESS' %}
                <a href="{{last_ci_build.ci_build_project_url}}">{{ last_ci_build.kernel_version}}</a><br/>Took {{ last_ci_build.duration }} to finish.
            {% endif %}
            {% if last_ci_build.build_status == 'INQUEUE' %}
                <a href="{{last_ci_build.ci_build_project_url}}">{{ last_ci_build.kernel_version}}</a>&nbsp;&nbsp; <p style="background-color: grey">{{ last_ci_build.build_status}}</p>
            {% endif %}
            {% if last_ci_build.build_status == 'INPROGRESS' %}
               <a href="{{last_ci_build.ci_build_project_url}}">{{ last_ci_build.kernel_version}}</a>&nbsp;&nbsp;
               <p style="background-color: yellow">{{ last_ci_build.build_status}}</p>
               <p>Started at {{ last_ci_build.start_timestamp|date:'M. d, Y, H:i'}}, &nbsp;{{ last_ci_build.start_timestamp|timesince}} ago</p>
            {% endif %}
            {% if last_ci_build.build_status == 'FAILURE' %}
               <a href="{{last_ci_build.ci_build_project_url}}">{{ last_ci_build.kernel_version}}</a>&nbsp;&nbsp; <p style="background-color: red">{{ last_ci_build.build_status}}</p>
            {% endif %}
            {% if last_ci_build.build_status == 'ABORTED' %}
               <a href="{{last_ci_build.ci_build_project_url}}">{{ last_ci_build.kernel_version}}</a>&nbsp;&nbsp; <p style="background-color: gray">{{ last_ci_build.build_status}}</p>
            {% endif %}
        {% endwith %}
        {% else %}
            No Build Yet
        {% endif %}
    </td>
    <td>
        {% if project.last_trigger_build %}
        {% with project.last_trigger_build as last_trigger_build %}
            <a href="{{last_trigger_build.url}}">{{ last_trigger_build.displayName}}</a><br/>
            Started at {{ last_trigger_build.start_timestamp|date:'M. d, Y, H:i'}}, &nbsp;{{ last_trigger_build.start_timestamp|timesince}} ago
        {% endwith %}
        {% else %}
            No Trigger Build Setup Yet
        {% endif %}
    </td>
    {% if project.last_build %}
        {% with project.last_build as last_build %}
        {% with last_build.numbers_of_result as numbers_of_result %}
        <td>{{ numbers_of_result.number_passed }}</td>
        <td>{{ numbers_of_result.number_failed }}</td>
        <td>{{ numbers_of_result.number_total }}</td>
        <td>{{ numbers_of_result.modules_done }}</td>
        {% if last_build.build_status == 'JOBSCOMPLETED' and numbers_of_result.modules_total == 0 %}
        <td><p style="background-color: red">{{ numbers_of_result.modules_total }}</p></td>
        {% else %}
        <td>{{ numbers_of_result.modules_total }}</td>
        {% endif %}
        {% endwith %}
        {% endwith %}
    {% else %}
        <td>Please</td>
        <td>Refresh</td>
        <td>To</td>
        <td>Try</td>
        <td>Again</td>
    {% endif %}
</tr>
{% endfor %}
</table>
</div>
<div>
{% if open_bugs %}
<h2>Open Bugs</h2>
<table border=2>
<tr>
    <th>Index</th>
    <th>Bug Id</th>
    <th>Summary</th>
    <th>Version</th>
    <th>Status</th>
</tr>
{% for bug in open_bugs %}
    {% ifnotequal bug.status 'RESOLVED' %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td><a href="https://bugs.linaro.org/show_bug.cgi?id={{ bug.id }}">{{ bug.id }}</a></td>
        <td>{{ bug.summary }}</td>
        <td>{{ bug.version }}</td>
        <td>{{ bug.status }}</td>
    </tr>
    {% endifnotequal %}
{% endfor %}
</table>
{% else %}
Excellent build, no open bugs on it at the moment.
{% endif %}
</div>
{% endblock %}
