{% extends '_layouts/base.html' %}

{% block title %} Kernel Changes {% endblock %}

{% block headline %}<h1>Kernel Changes</a></h1>{% endblock %}

{% block content %}
<div>
<table border="1">
	<tr>
		<th>Index</th>
		<th>Branch</th>
        <th>Describe</th>
        <th>Status</th>
        <th>StartedAt</th>
        <th>Duration</th>
        <th>CI Trigger</th>
        <th>Pass</th>
        <th>Fail</th>
        <th>Total</th>
        <th>Modules Done</th>
        <th>Modules Total</th>
        <th>JobsFinished/JobsTotal</th>
</tr>
{% for kernelchange in kernelchanges %}
<tr>
    <td>{{ forloop.counter }}</td>
    <td><a href="/lkft/kernel-changes/{{kernelchange.branch}}/">{{kernelchange.branch}}</a></td>
    <td><a href="/lkft/kernel-changes/{{kernelchange.branch}}/{{kernelchange.describe}}/">{{kernelchange.describe}}</a></td>
    <td>
    {% if kernelchange.status == 'HAS_JOBS_IN_PROGRESS' %}
        <p style="background-color: yellow">{{kernelchange.status}}</p>
    {% elif kernelchange.status == 'CI_BUILDS_ALL_FAILED' %}
        <p style="background-color: red">{{kernelchange.status}}</p>
    {% elif kernelchange.status == 'CI_BUILDS_HAS_FAILED' %}
        <p style="background-color: #FFAAAA">{{kernelchange.status}}</p>
    {% else %}
        {{kernelchange.status}}
    {% endif %}
    </td>
    <td><p>Started at {{ kernelchange.start_timestamp|date:'M. d, Y, H:i'}}, &nbsp;{{ kernelchange.start_timestamp|timesince}} ago</p></td>
    {% if kernelchange.status == 'ALL_COMPLETED' %}
        <td align='right'>Took {{kernelchange.duration}} to finish</td>
    {% else %}
        <td align='right'>--</td>
    {% endif %}
    <td><a href="https://ci.linaro.org/job/{{kernelchange.trigger_name}}/{{kernelchange.trigger_number}}">{{kernelchange.trigger_name}}#{{kernelchange.trigger_number}}</a></td>
    <td align='right'>{{kernelchange.number_passed}}</td>
    <td align='right'>{{kernelchange.number_failed}}</td>
    <td align='right'>{{kernelchange.number_total}}</td>
    <td align='right'>{{kernelchange.modules_done}}</td>
    <td align='right'>{{kernelchange.modules_total}}</td>
    <td align='right'>{{kernelchange.jobs_finished}}/{{kernelchange.jobs_total}}</td>
</tr>
{% endfor %}
</table>
</div>
{% endblock %}
