{% extends '_layouts/base.html' %}

{% load static%}
{% load escapesharp %}
{% load startswith %}

{% block title %} Jobs for {{ project.name }} {{ build.version }} {% endblock %}

{% block headline %}<h1>Jobs for <a href="https://qa-reports.linaro.org/{{project.full_name}}"> {{ project.name }}</a>&nbsp;<a href="https://qa-reports.linaro.org/{{project.full_name}}/build/{{build.version}}">{{ build.version }}</a></h1>{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static "report/css/compatibility_result.css" %}">
{% endblock %}

{% block content %}
<div>
<h2>Final Job List:</h2>
<table border="1">
<tr> 
    <th> Index</th>
    <th> Job Id/Job Link</a> </th>
    <th> Job Name/Attachment</a></th>
    <th> Job Status </th>
    <th> Resubmit </th>
    <th> FailureMsg </th>
    <th> Passed </th>
    <th> Failed </th>
    <th> Total </th>
    <th> ModulesDone </th>
    <th> ModulesTotal </th>
    <th> Report Bug </th>
</tr>
{% for job in final_jobs %}
<tr>
    <td> {{ forloop.counter }}</td>
    <td> <a href="{{job.external_url}}">{{job.job_id}}</a> </td>
    {% if job.attachment_url %}
    <td nowrap> <a target='_blank' href="{{job.attachment_url}}">{{job.name}} </a></td>
    {% else %}
    <td nowrap> {{job.name}}</td>
    {% endif %}
    <td>{{job.job_status}} </td>
    {% if job.job_status == 'Running' or job.job_status == 'Submitted'%}
    <td>&nbsp;</td>
    {% else %}
    <td><a target='_blank' href="/lkft/resubmit-job/?qa_job_id={{job.qa_job_id}}">Resubmit</a> </td>
    {% endif %}
    {% if job.failure %}
    {% with job.failure as job_failure %}
    <td>{{job_failure.error_msg}} </td>
    {% endwith %}
    {% else %}
    <td> &nbsp;</td>
    {% endif %}
    {% if job.numbers %}
    <td align="right">{{job.numbers.passed_number}}</td>
    <td align="right">{{job.numbers.failed_number}}</td>
    <td align="right">{{job.numbers.total_number}}</td>
    <td align="right">{{job.numbers.modules_done}}</td>
    <td align="right">{{job.numbers.modules_total}}</td>
    {% else %}
    <td align="right"> - </td>
    <td align="right"> - </td>
    <td align="right"> - </td>
    <td align="right"> - </td>
    <td align="right"> - </td>
    {% endif %}
    <td><a target='_blank' href="{{job.new_bug_url}}">Report Bug</a></td>
</tr>
{% endfor %}
</table>
{% if failed_jobs %}
<h2>Resubmitted Job List:</h2>
<table border="1">
<tr>
    <th> Index</th>
    <th> Job Id(Job Link)</a> </th>
    <th> Job Name(Result Attachment Link) </a></th>
    <th> Job Status </th>
    <th> FailureMsg </th>
</tr>
{% for job in failed_jobs %}
<tr>
    <td> {{ forloop.counter }}</td>
    <td> <a href="{{job.external_url}}">{{job.job_id}}</a> </td>
    {% if job.attachment_url %}
    <td nowrap> <a href="{{job.attachment_url}}">{{job.name}} </a></td>
    {% else %}
    <td nowrap> {{job.name}}</td>
    {% endif %}
    <td>{{job.job_status}} </td>
    {% if job.failure %}
    {% with job.failure as job_failure %}
    <td>{{job_failure.error_msg}} </td>
    {% endwith %}
    {% else %}
    <td> &nbsp;</td>
    {% endif %}
</tr>
{% endfor %}
</table>
{% endif %}
</div>
<hr/>

<div>
<h2>Bug Status(<a href="https://bugs.linaro.org/buglist.cgi?quicksearch={{project.name}}">List on Bugzilla</a>):</h2>
{% if open_bugs %}
<h2>Reproduced Bugs:</h2>
<table border=2>
<tr>
    <th>Index</th>
    <th>Bug Id</th>
    <th>Summary</th>
    <th>Status</th>
</tr>
{% for bug in open_bugs %}
    {% ifnotequal  bug.status 'RESOLVED' %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td><a href="{{bugzilla_show_bug_prefix}}{{ bug.id }}">{{ bug.id }}</a></td>
        <td>{{ bug.summary }}</td>
        <td>{{ bug.status }}</td>
    </tr>
    {% endifnotequal %}
{% endfor %}
</table>
{% endif %}
{% if bugs_not_reproduced %}
<h2>Nonreproduced Bugs:</h2>
<table border=2>
<tr>
    <th>Index</th>
    <th>Bug Id</th>
    <th>Summary</th>
    <th>Status</th>
</tr>
{% for bug in bugs_not_reproduced %}
    {% ifnotequal bug.status 'RESOLVED' %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td><a href="{{bugzilla_show_bug_prefix}}{{ bug.id }}">{{ bug.id }}</a></td>
        <td>{{ bug.summary }}</td>
        <td>{{ bug.status }}</td>
    </tr>
    {% endifnotequal %}
{% endfor %}
</table>
{% endif %}
</div>

<hr/>
<div align="left">
<h2>Summary of Failures</h2>
<table class="testdetails">
<tbody>
<tr>
    <th>Index</th>
    <th>Module</th>
    <th>Test</th>
    <th>Platforms</th>
    <th>Kernels</th>
    <th>Abis(Trend)</th>
    <th>Bugs</th>
</tr>
{% for failure in failures_list %}
<tr>
	<td>{{forloop.counter}}</td>
	<td class="testname">{{failure.module_name}}</td>
    <td class="testname">{{failure.test_name}}</td>
    <td class="testname" nowrap>
        {% with failure.platforms as platforms %}
        {% for platform in platforms %}
        {% if not forloop.first %}<br/>{% endif %}
        {{ platform }}
        {% endfor %}
        {% endwith %}
    </td>
    <td class="testname" nowrap>
        {% with failure.kernel_versions as kernel_versions %}
        {% for kernel_version in kernel_versions %}
        {% if not forloop.first %}<br/>{% endif %}
        {{ kernel_version }}
        {% endfor %}
        {% endwith %}
    </td>
    <td nowrap>
        {% with failure.abis as abis %}
        {% for abi in abis %}
        {% if not forloop.first %}<br/>{% endif %}
        {% if failure.module_name|startswith:'Vts' %}
        <a href="https://qa-reports.linaro.org/android-lkft/{{ project.name }}/tests/vts-test/{{abi}}.{{failure.module_name}}/{{failure.test_class}}.{{failure.test_method}}">{{ abi }}</a>
        {% elif failure.module_name == "CtsOnGsiTrebleFrameworkVintfTest" %}
        <a href="https://qa-reports.linaro.org/android-lkft/{{ project.name }}/tests/vts-test/{{abi}}.{{failure.module_name}}/{{failure.test_class}}.{{failure.test_method}}">{{ abi }}</a>
        {% else %}
        <a href="https://qa-reports.linaro.org/android-lkft/{{ project.name }}/tests/cts-lkft/{{abi}}.{{failure.module_name}}/{{failure.test_class}}.{{failure.test_method}}">{{ abi }}</a>
        {% endif %}
        {% endfor %}
        {% endwith %}
    </td>
    <td>
        {% with failure.bugs as bugs %}
        {% for bug in bugs %}
        {% if not forloop.first %}<br/>{% endif %}
        <a target="_blank" href="{{bugzilla_show_bug_prefix}}{{bug.id}}">
        {% if bug.status == 'RESOLVED' %}
        <del style="background-color:lightgrey; color:white"> {{ bug.id }} </del>
        {% else %}
        {{ bug.id }}
        {% endif %}
        </a>
        {% empty %}
        {% endfor %}
        {% endwith %}
    </td>
</tr>
{% endfor %}
</tbody>
</table>
</div>

<hr/>
<hr/>
<div align="left">
<h2>Details of Failures</h2>
{% for module_name, module_failures in failures.items %}
{% if module_failures|length > 0 %}
<table class="testdetails">
<tbody>
<tr>
    <td class="module" colspan="10">
        <a name="{{module_name}}">{{module_name}} has {{ module_failures|length }} failures</a>
    </td>
</tr>
<tr>
    <th>Index</th>
    <th>Test</th>
    <th>Platforms</th>
    <th>Kernels</th>
    <th>Abis(Trend)</th>
    <th>Details</th>
    <th>Bugs</th>
    <th>Last Work</th>
    <th>First Fail</th>
    <th>Changes</th>
</tr>
{% for testcase_name, failure in module_failures.items %}
<tr>
    <td> {{ forloop.counter }}</td>
    <td class="testname">{{failure.test_name}}</td>
    <td class="testname" nowrap>
        {% with failure.platforms as platforms %}
        {% for platform in platforms %}
        {% if not forloop.first %}<br/>{% endif %}
        {{ platform }}
        {% endfor %}
        {% endwith %}
    </td>
    <td class="testname" nowrap>
        {% with failure.kernel_versions as kernel_versions %}
        {% for kernel_version in kernel_versions %}
        {% if not forloop.first %}<br/>{% endif %}
        {{ kernel_version }}
        {% endfor %}
        {% endwith %}
    </td>
    <td class="testname" nowrap>
        {% with failure.abis as abis %}
        {% for abi in abis %}
        {% if not forloop.first %}<br/>{% endif %}
        {% if failure.module_name|startswith:'Vts' %}
        <a href="https://qa-reports.linaro.org/android-lkft/{{ project.name }}/tests/vts-test/{{abi}}.{{failure.module_name}}/{{failure.test_class}}.{{failure.test_method}}">{{ abi }}</a>
        {% elif failure.module_name == "CtsOnGsiTrebleFrameworkVintfTest" %}
        <a href="https://qa-reports.linaro.org/android-lkft/{{ project.name }}/tests/vts-test/{{abi}}.{{failure.module_name}}/{{failure.test_class}}.{{failure.test_method}}">{{ abi }}</a>
        {% else %}
        <a href="https://qa-reports.linaro.org/android-lkft/{{ project.name }}/tests/cts-lkft-{{abi}}/{{abi}}.{{failure.module_name}}/{{failure.test_class}}.{{failure.test_method}}">{{ abi }}</a>
        {% endif %}
        {% endfor %}
        {% endwith %}
    </td>
    <td class="failuredetails"><div class="details" nowrap>{{failure.stacktrace}}</div></td>
    <td>
        {% with failure.bugs as bugs %}
        {% for bug in bugs %}
        {% if not forloop.first %}<br/>{% endif %}
        <a target="_blank" href="{{bugzilla_show_bug_prefix}}{{bug.id}}">
        {% if bug.status == 'RESOLVED' %}
        <del style="background-color:lightgrey; color:white"> {{ bug.id }} </del>
        {% else %}
        {{ bug.id }}
        {% endif %}
        </a>
        {% empty %}
        <a target='_blank' href="/lkft/file-bug?module_name={{module_name}}&test_name={{failure.test_name|escapesharp}}&qa_job_ids={{failure.qa_job_ids|join:','}}">Report Android Bug</a>&nbsp;
        {% endfor %}
        {% endwith %}
    </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
</tr>
{% endfor %}
</tbody>
</table>
<hr/>
{% endif %}
{% endfor %}
</div>
{% endblock %}
