{% extends '_layouts/base.html' %}

{% block title %} {{kernel_change.describe}} {% endblock %}

{% block headline %}<h1>{{kernel_change.describe}}</h1>{% endblock %}

{% block content %}

<div>
<h1>Summary</h1>
<table border="1">
    <tr>
        <th>Branch</th>
        <td>{{kernel_change.branch}}</td>
    </tr>
    <tr>
        <th>Describe</th>
        <td>{{kernel_change.describe}}</td>
    </tr>
    <tr>
        <th>Status</th>
        <td>{{kernel_change.result}}</td>
    </tr>
    <tr>
        <th>Reported Status</th>
        <td>{{kernel_change.reported|yesno:"True,False"}}， <a href="/lkft/changereportstatus/{{kernel_change.branch}}/{{kernel_change.describe}}">want to revert?</a></td>
    </tr>
    <tr>
        <th>Trigger</th>
        <td><a href="https://ci.linaro.org/job/{{kernel_change.trigger_name}}/{{kernel_change.trigger_number}}">{{kernel_change.trigger_name}}#{{kernel_change.trigger_number}}</a></td>
    </tr>
    <tr>
        <th>Started At</th>
        <td><p>Started at {{ kernel_change.timestamp|date:'M. d, Y, H:i'}}, &nbsp;{{ kernel_change.timestamp|timesince}} ago</p></td>
    </tr>
    <tr>
        <th>Duration</th>
        {% if kernel_change.result == 'ALL_COMPLETED' %}
        <td align='right'>Took {{kernel_change.duration}} to finish</td>
        {% else %}
        <td align='right'>--</td>
        {% endif %}
    </tr>
    <tr>
        <th>Passed</th>
        <td align='right'>{{kernel_change.number_passed}}</td>
    </tr>
    <tr>
        <th>Failed</th>
        <td align='right'>{{kernel_change.number_failed}}</td>
    </tr>
    <tr>
        <th>Total</th>
        <td align='right'>{{kernel_change.number_total}}</td>
    </tr>
    <tr>
        <th>Modules Done</th>
        <td align='right'>{{kernel_change.modules_done}}</td>
    </tr>
    <tr>
        <th>Modules Total</th>
        <td align='right'>{{kernel_change.modules_total}}</td>
    </tr>
    <tr>
        <th>Jobs Finished</th>
        <td align='right'>{{kernel_change.jobs_finished}}</td>
    </tr>
    <tr>
        <th>Jobs Total</th>
        <td align='right'>{{kernel_change.jobs_total}}</td>
    </tr>
</table>

</div>

<div>
<h1>Trigger Build</h1>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Number</th>
        <th>Status</th>
        <th>StartedAt</th>
        <th>Duration</th>
</tr>
<tr>
    <td><a href="https://ci.linaro.org/job/{{trigger_build.name}}/">{{trigger_build.name}}</a></td>
    <td align='right'><a href="https://ci.linaro.org/job/{{trigger_build.name}}/{{trigger_build.number}}/">{{trigger_build.number}}</a></td>
    <td>{{trigger_build.result}}</td>
    <td><p>Started at {{ trigger_build.timestamp|date:'M. d, Y, H:i'}}, <br/>{{ trigger_build.timestamp|timesince}} ago</p></td>
    <td align='right'>{{trigger_build.duration}}</td>
</tr>
</table>
</div>

<div>
<h1>CI Builds</h1>
<table border="1">
    <tr>
        <th>Index</th>
        <th>Name</th>
        <th>Number</th>
        <th>Status</th>
        <th>QueuedTime</th>
        <th>StartedAt</th>
        <th>Duration</th>
</tr>
{% for cibuild in ci_builds %}
<tr>
    <td>{{ forloop.counter }}</td>
    <td><a href="https://ci.linaro.org/job/{{cibuild.name}}/">{{cibuild.name}}</a></td>
    <td align='right'><a href="https://ci.linaro.org/job/{{cibuild.name}}/{{cibuild.number}}/">{{cibuild.number}}</a></td>
    <td>{{cibuild.result}}</td>
    <td align='right'>{{cibuild.queued_duration}}</td>
    <td><p>Started at {{ cibuild.timestamp|date:'M. d, Y, H:i'}}, <br/>{{ cibuild.timestamp|timesince}} ago</p></td>
    <td align='right'>{{cibuild.duration}}</td>
</tr>
{% endfor %}
</table>
</div>

<div>
<h1>QA Report Builds</h1>
<table border="1">
    <tr>
        <th>Index</th>
        <th>Group</th>
        <th>Name</th>
        <th>Status</th>
        <th>StartedAt</th>
        <th>Duration</th>
        <th>Pass</th>
        <th>Fail</th>
        <th>Total</th>
        <th>Modules Done</th>
        <th>Modules Total</th>
        <th>Jobs Finished</th>
        <th>Jobs Total</th>
</tr>
{% for report_build in report_builds %}
<tr>
    <td>{{ forloop.counter }}</td>
    <td><a href="https://qa-reports.linaro.org/{{report_build.qa_project.group}}/">{{report_build.qa_project.group}}</a></td>
    <td>
        <a href="/lkft/builds?project_id={{report_build.qa_project.project_id}}">{{report_build.qa_project.name}}</a><br/>
        <a href="https://qa-reports.linaro.org/{{report_build.qa_project.group}}/{{report_build.qa_project.slug}}/build/{{kernel_change.describe}}">Link To QA-REPORT</a>
    </td>
    <td align='right'>{{report_build.status}}</td>
    <td><p>Started at {{ report_build.started_at|date:'M. d, Y, H:i'}},<br/>{{ report_build.started_at|timesince}} ago</p></td>
    <td align='right'>{{report_build.duration}}</td>
    <td align='right'><a href="/lkft/jobs/?build_id={{report_build.qa_build_id}}">{{report_build.number_passed}}</a></td>
    <td align='right'><a href="/lkft/jobs/?build_id={{report_build.qa_build_id}}">{{report_build.number_failed}}</a></td>
    <td align='right'><a href="/lkft/jobs/?build_id={{report_build.qa_build_id}}">{{report_build.number_total}}</a></td>
    <td align='right'><a href="/lkft/jobs/?build_id={{report_build.qa_build_id}}">{{report_build.modules_done}}</a></td>
    <td align='right'><a href="/lkft/jobs/?build_id={{report_build.qa_build_id}}">{{report_build.modules_total}}</a></td>
    <td align='right'><a href="/lkft/jobs/?build_id={{report_build.qa_build_id}}">{{report_build.jobs_finished}}</a></td>
    <td align='right'><a href="/lkft/jobs/?build_id={{report_build.qa_build_id}}">{{report_build.jobs_total}}</a></td>
</tr>
{% endfor %}
</table>
</div>

{% if report_jobs %}
<div>
<h2>Jobs List:</h2>
<table border="1">
<tr>
    <th> Index</th>
    <th> QAProjectGroup</th>
    <th> QAProjectName</th>
    <th> Job Id/Job Link</a> </th>
    <th> Job Name/Attachment</a></th>
    <th> Job Status </th>
    <th> Resubmit </th>
    <th> FailureMsg </th>
    <th> Passed </th>
    <th> Failed </th>
    <th> Total </th>
    <th> ModulesDone </th>
    <th> ModulesTotal </th>
</tr>
{% for job in report_jobs %}
<tr>
    <td> {{ forloop.counter }}</td>
    <td> {{job.qaproject_group }}</td>
    <td> {{job.qaproject_name }}</td>
    <td> <a href="{{job.lavajob_url}}">{{job.lavajob_id}}</a> </td>
    {% if job.lavajob_url %}
    <td nowrap> <a target='_blank' href="{{job.lavajob_url}}">{{job.lavajob_name}} </a></td>
    {% else %}
    <td nowrap> {{job.lavajob_name}}</td>
    {% endif %}
    <td>{{job.lavajob_status}} </td>
    {% if job.lavajob_status == 'Running' or job.lavajob_status == 'Submitted'%}
    <td>&nbsp;</td>
    {% else %}
    <td><a target='_blank' href="/lkft/resubmit-job/?qa_job_id={{job.qajob_id}}">Resubmit</a> </td>
    {% endif %}
    {% if job.failure_msg %}
    <td>{{job.failure_msg}} </td>
    {% else %}
    <td>&nbsp;</td>
    {% endif %}
    <td align="right">{{job.number_passed}}</td>
    <td align="right">{{job.number_failed}}</td>
    <td align="right">{{job.number_total}}</td>
    <td align="right">{{job.modules_done}}</td>
    <td align="right">{{job.modules_total}}</td>
</tr>
{% endfor %}
</table>
</div>

{% if resubmitted_jobs %}
<div>
<h2>Resubmitted Jobs List:</h2>
<table border="1">
<tr>
    <th> Index</th>
    <th> QAProjectGroup</th>
    <th> QAProjectName</th>
    <th> Job Id/Job Link</a> </th>
    <th> Job Name/Attachment</a></th>
    <th> Job Status </th>
    <th> FailureMsg </th>
    <th> Report Bug </th>
</tr>
{% for job in resubmitted_jobs %}
<tr>
    <td> {{ forloop.counter }}</td>
    <td> {{job.qaproject_group }}</td>
    <td> {{job.qaproject_name }}</td>
    <td> <a href="{{job.lavajob_url}}">{{job.lavajob_id}}</a> </td>
    {% if job.lavajob_url %}
    <td nowrap> <a target='_blank' href="{{job.lavajob_url}}">{{job.lavajob_name}} </a></td>
    {% else %}
    <td nowrap> {{job.lavajob_name}}</td>
    {% endif %}
    <td>{{job.lavajob_status}} </td>
    {% if job.failure_msg %}
    <td>{{job.failure_msg}} </td>
    {% else %}
    <td>&nbsp;</td>
    {% endif %}
    <td><a target='_blank' href="{{job.new_bug_url}}">Report Bug</a></td>
</tr>
{% endfor %}
</table>
</div>
{% endif %}
{% endif %}
{% endblock %}
