<table border="1">
    <tr>
        <th>Index</th>
        <th>Project</th>
        <th>Last QA Build</th>
        <th>Duration</th>
        <th>CI Build</th>
        <th>Trigger Build</th>
        <th>Jobs Finished/Total</th>
        <th>Pass</th>
        <th>Fail</th>
        <th>AssumptionF</th>
        <th>Ignored</th>
        <th>Total</th>
        <th>Modules Done/Total</th>
</tr>
{% for project in projects %}
<tr>
    <td> {{ forloop.counter }}</td>
    <td>
        <a href="/lkft/builds?project_id={{project.id}}">{{project.name}}</a>
    </td>
    <td>
    {% if project.last_build %}
        {% with project.last_build as last_build %}
        <a href="/lkft/jobs/?build_id={{last_build.id}}">{{last_build.version}}</a><br/>
        {% if last_build.build_status == 'JOBSNOTSUBMITTED' %}
            <p style="background-color: grey">{{ last_build.build_status}} </p>
        {% endif %}
        {% if last_build.build_status == 'JOBSINPROGRESS' %}
            <p style="background-color: yellow">{{ last_build.build_status}} </p>
        {% endif %}
        {% if last_build.build_status == 'JOBSCOMPLETED' %}
            Finished at {{ last_build.last_fetched_timestamp|date:'M. d, Y, H:i'}}, &nbsp;{{ last_build.last_fetched_timestamp|timesince}} ago<br/>
        {% endif %}
        {% endwith %}
    {% else %}
        No Build Yet
    {% endif %}
    </td>
    <td>
    {% if project.last_build %}
        {% with project.last_build as last_build %}
        {% if last_build.build_status == 'JOBSNOTSUBMITTED' %}
            <p style="background-color: grey">{{ last_build.build_status}} </p>
        {% endif %}
        {% if last_build.build_status == 'JOBSINPROGRESS' %}
            <p style="background-color: yellow">{{ last_build.build_status}} </p>
        {% endif %}
        {% if last_build.build_status == 'JOBSCOMPLETED' %}
            {{ project.duration }}
        {% endif %}
        {% endwith %}
    {% else %}
        No Build Yet
    {% endif %}
    </td>
    <td>
        {% if project.last_ci_build %}
        {% with project.last_ci_build as last_ci_build %}
            {% if last_ci_build.build_status == 'SUCCESS' %}
                <a href="{{last_ci_build.ci_build_project_url}}">{{ last_ci_build.kernel_version}}</a><br/>Took {{ last_ci_build.duration }} to finish.
            {% endif %}
            {% if last_ci_build.build_status == 'INQUEUE' %}
                <a href="{{last_ci_build.ci_build_project_url}}">{{ last_ci_build.kernel_version}}</a>&nbsp;&nbsp; <p style="background-color: grey">{{ last_ci_build.build_status}}</p>
            {% endif %}
            {% if last_ci_build.build_status == 'INPROGRESS' %}
               <a href="{{last_ci_build.ci_build_project_url}}">{{ last_ci_build.kernel_version}}</a>&nbsp;&nbsp;
               <p style="background-color: yellow">{{ last_ci_build.build_status}}</p>
               <p>Started at {{ last_ci_build.start_timestamp|date:'M. d, Y, H:i'}}, &nbsp;{{ last_ci_build.start_timestamp|timesince}} ago</p>
            {% endif %}
            {% if last_ci_build.build_status == 'FAILURE' %}
               <a href="{{last_ci_build.ci_build_project_url}}">{{ last_ci_build.kernel_version}}</a>&nbsp;&nbsp; <p style="background-color: red">{{ last_ci_build.build_status}}</p>
               <p>Started at {{ last_ci_build.start_timestamp|date:'M. d, Y, H:i'}}, &nbsp;{{ last_ci_build.start_timestamp|timesince}} ago</p>
            {% endif %}
            {% if last_ci_build.build_status == 'ABORTED' %}
               <a href="{{last_ci_build.ci_build_project_url}}">{{ last_ci_build.kernel_version}}</a>&nbsp;&nbsp; <p style="background-color: gray">{{ last_ci_build.build_status}}</p>
            {% endif %}
        {% endwith %}
        {% else %}
            No Build Yet
        {% endif %}
    </td>
    <td>
        {% if project.last_trigger_build %}
        {% with project.last_trigger_build as last_trigger_build %}
            <a href="{{last_trigger_build.url}}">{{ last_trigger_build.displayName}} (Changes:{{last_trigger_build.changes_num}})</a><br/>
            Started at {{ last_trigger_build.start_timestamp|date:'M. d, Y, H:i'}}, &nbsp;{{ last_trigger_build.start_timestamp|timesince}} ago
        {% endwith %}
        {% else %}
            No Trigger Build Setup Yet
        {% endif %}
    </td>
    {% if project.last_build %}
        {% with project.last_build as last_build %}
        {% with last_build.numbers_of_result as numbers_of_result %}
        <td align="right"><a href="/lkft/jobs/?build_id={{last_build.id}}">{{ numbers_of_result.jobs_finished }} / {{ numbers_of_result.jobs_total }}</a></td>
        <td align="right"><a href="/lkft/jobs/?build_id={{last_build.id}}">{{ numbers_of_result.number_passed }}</a></td>
        <td align="right"><a href="/lkft/jobs/?build_id={{last_build.id}}">{{ numbers_of_result.number_failed }}</a></td>
        <td align="right"><a href="/lkft/jobs/?build_id={{last_build.id}}">{{ numbers_of_result.number_assumption_failure }}</a></td>
        <td align="right"><a href="/lkft/jobs/?build_id={{last_build.id}}">{{ numbers_of_result.number_ignored }}</a></td>
        <td align="right"><a href="/lkft/jobs/?build_id={{last_build.id}}">{{ numbers_of_result.number_total }}</a></td>
        {% if last_build.build_status == 'JOBSCOMPLETED' and numbers_of_result.modules_total == 0 %}
        <td align="right"><a href="/lkft/jobs/?build_id={{last_build.id}}"><p style="background-color: red">{{ numbers_of_result.modules_done }} / {{ numbers_of_result.modules_total }}</p></a></td>
        {% else %}
        <td align="right"><a href="/lkft/jobs/?build_id={{last_build.id}}">{{ numbers_of_result.modules_done }} / {{ numbers_of_result.modules_total }}</a></td>
        {% endif %}
        {% endwith %}
        {% endwith %}
    {% else %}
        <td align="right">--</td>
        <td align="right">--</td>
        <td align="right">Please</td>
        <td align="right">Refresh</td>
        <td align="right">To</td>
        <td align="right">Try</td>
        <td align="right">Again</td>
    {% endif %}
</tr>
{% endfor %}
</table>