{% extends '_layouts/base.html' %}

{% block title %} Bug Creation {% endblock %}

{% block headline %}<h1>Bug Creation</h1>{% endblock %}

{% block content %}
<div align="center">
{% if not from.errors and submit_result %}
<div>Bug created successfully <a href="{{bug_info.bugzilla_show_bug_prefix}}{{bug_info.bug_id}}">{{bug_info.bug_id}}</a></div>

{% else %}
<div>{{ form.errors }}</div>
<form action="/lkft/file-bug/" method="post">
    {% csrf_token %}
    <table border="2" >
    {{ form.as_table }}
    </table>
    <input type="submit" id="submit_btn" value="submit" />
</form>
{% endif %}
</div>
{% endblock %}
