{% extends '_layouts/base.html' %}

{% load static%}
{% load escapesharp %}
{% load startswith %}

{% block title %} Jobs List for ALL Projects {% endblock %}

{% block headline %}<h1>Jobs List for ALL Projects</h1>{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static "report/css/compatibility_result.css" %}">
<script src="{% static "report/jquery.min.js" %}"></script>
<script src="{% static "report/bootstrap.min.js" %}"></script>
{% endblock %}

{% block content %}


  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#final">Final Jobs</a></li>
    <li><a data-toggle="tab" href="#resubmitted">Resubmitted Jobs</a></li>
  </ul>

<div class="tab-content">
    <div id="final" class="tab-pane fade in active">
        <table border="1">
            <tr>
                <th> Index</th>
                <th> Group</th>
                <th> Project</th>
                <th> Build</th>
                <th> Job Id/Job Link</a> </th>
                <th> Job Name/Attachment</a></th>
                <th> Job Status </th>
                <th> Resubmit </th>
                <th> FailureMsg </th>
                <th> Report Bug </th>
            </tr>

            {% for job in all_final_jobs %}
            <tr>
                <td> {{ forloop.counter }}</td>
                <td>
                    {% with job.qareport_project as qareport_project %}
                    {{ qareport_project.group_name }}
                    {% endwith %}
                </td>
                <td>
                    {% with job.qareport_project as qareport_project %}
                    {{ qareport_project.name }}
                    {% endwith %}
                </td>
                <td>
                    {% with job.qareport_build as qareport_build %}
                    {{ qareport_build.version }}
                    {% endwith %}
                </td>
                <td> <a href="{{job.external_url}}">{{job.job_id}}</a> </td>
                {% if job.attachment_url %}
                <td nowrap> <a target='_blank' href="{{job.attachment_url}}">{{job.name}} </a></td>
                {% else %}
                <td nowrap> {{job.name}}</td>
                {% endif %}
                <td>{{job.job_status}} </td>
                {% if job.job_status == 'Running' or job.job_status == 'Submitted'%}
                <td>&nbsp;</td>
                {% else %}
                <td><a target='_blank' href="/lkft/resubmit-job/?qa_job_id={{job.qa_job_id}}">Resubmit</a> </td>
                {% endif %}
                {% if job.failure %}
                {% with job.failure as job_failure %}
                <td>{{job_failure.error_msg}} </td>
                {% endwith %}
                {% else %}
                <td> &nbsp;</td>
                {% endif %}
                <td><a target='_blank' href="{{job.new_bug_url}}">Report Bug</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div id="resubmitted" class="tab-pane fade">
        <table border="1">
            <tr>
                <th> Index</th>
                <th> Group</th>
                <th> Project</th>
                <th> Build</th>
                <th> Job Id/Job Link</a> </th>
                <th> Job Name/Attachment</a></th>
                <th> Job Status </th>
                <th> FailureMsg </th>
                <th> Report Bug </th>
            </tr>

            {% for job in all_resubmitted_jobs %}
            <tr>
                <td> {{ forloop.counter }}</td>
                <td>
                    {% with job.qareport_project as qareport_project %}
                    {{ qareport_project.group_name }}
                    {% endwith %}
                </td>
                <td>
                    {% with job.qareport_project as qareport_project %}
                    {{ qareport_project.name }}
                    {% endwith %}
                </td>
                <td>
                    {% with job.qareport_build as qareport_build %}
                    {{ qareport_build.version }}
                    {% endwith %}
                </td>
                <td> <a href="{{job.external_url}}">{{job.job_id}}</a> </td>
                {% if job.attachment_url %}
                <td nowrap> <a target='_blank' href="{{job.attachment_url}}">{{job.name}} </a></td>
                {% else %}
                <td nowrap> {{job.name}}</td>
                {% endif %}
                <td>{{job.job_status}} </td>
                {% if job.failure %}
                {% with job.failure as job_failure %}
                <td>{{job_failure.error_msg}} </td>
                {% endwith %}
                {% else %}
                <td> &nbsp;</td>
                {% endif %}
                <td><a target='_blank' href="{{job.new_bug_url}}">Report Bug</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
